*.idea
*.zip
*.db
clams.ini
clamsABL.ini
clams_NWFSC.ini
clams_swfsc.ini
sensor_data_tools/
*.log
*.bak
#*.wav
#*.jpg
#*.bmp
#*.ico
#*.png
#*.svg
*.mid
[Bb]uild/
__pycache__/
*.py[cod]
.vs/*
[Vv]env/*
